body,html {
	width: 100%;
	height: 100%;
}

.home{
	width: 100%;
	height: 82%;
}


.navbar-default {
	padding: 20px;
}

.navbar-right a:hover{
	cursor: pointer;
}

#nav-name {
	font-size: 37px;
	font-weight: 700;
	color: #ccad52;
	font-family: "Didot";
}

#navigation {
	font-weight: 700;
	font-size: 17px;
}

.home {
	padding: 100px 0 0;
	background: #16222A; 
	background: -webkit-linear-gradient(to right, #3A6073, #16222A);  
	background: linear-gradient(to right, #3A6073, #16222A); 
}

#profile {
	width: 400px;
	height: 400px;
	border-radius: 50%;
}

.row {
	padding: 120px 0  ;
	color: white;
}

.row h2 {
	font-size: 100px;
	font-weight: 800;
}

.row p{
	font-size: 10px;
}

.row-education {
	color: black;
	padding: 120px;
}

.row-education p{
	font-size: 30px;
}

.education {
	background: #E0EAFC;  
	background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC); 
	background: linear-gradient(to right, #CFDEF3, #E0EAFC);
	font-family: "Didot";
}

.row-skills p{
	font-size: 30px;
}
.row-skills {
	padding: 120px;
}

.skills{
	background: #4B79A1;  
	background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  
	background: linear-gradient(to right, #283E51, #4B79A1); 
	font-family: "Didot";
}

.row-resources {
	color: black;
	font-size: 30px;	
}

.resources {
	background: #E0EAFC;  
	background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC); 
	background: linear-gradient(to right, #CFDEF3, #E0EAFC);
	font-family: "Didot";
}

#books,#sites,#forums,#blogs{
	width: 60px;
	height: 60px;	
}

#sites-list li,#forums-list li,#blogs-list li,#books-list li {
	font-size: 20px;
	padding: 10px 0 0 ;
	list-style: none;
}

.footer {
	background: #16222A; 
	background: -webkit-linear-gradient(to right, #3A6073, #16222A);  
	background: linear-gradient(to right, #3A6073, #16222A); 
	font-family: "Didot";
}

#footer-list {
	list-style: none;
}

#footer-list li{
	display: inline;
	padding: 30px;
}

#call {
	width: 100px;
	height: 100px;
}

#mail,#plus{
	width: 50px;
	height: 60px;
}

#fb,#instagram{
	width: 25px;
	height: 25px;
	margin-left: 10px;
}


